@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	margin: 0px;
	padding: 0px;
	line-height:1.5;
	font-family: 'Poppins', sans-serif;
	}
*{
margin: 0;
padding:0;
box-sizing: border-box;
}
#body1{
	background-color: blue;
	width: 100vw;
	height: 70px;
	margin: 0px;
	padding: 0px;
	}
#body2{
	background-color: grey;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	}
	 /* #logo{
	width: 50px;
	height: 50px;
	margin: 10px 10px 10px 10px;
	display: inline-flex;
	}  */
#bimage{
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	}
#bell{
	width: 50px;
	height: 50px;
	margin-top: 10px ; 
	} 
#search{
	width: 50px;
	height: 50px;
	margin: 10px 10px 10px 900px;
	}
ul{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  text-align: right;
	  /* background-color: rgb(0, 0, 0); */
	}
	ul li {
		display: inline-block;
		
	}
	li a{
	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	li a hover{
	  background-color: #111;
	}
#body3{
float: bottom;
}
.container{
max-width: 1170px;
margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #24262b;
padding: 30px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
background-color: red;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #2426b;
background-color: #ffffff;
}
@media(max-width: 767px){
.footer-col {
width: 25%;
padding: 0 15px;
margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col {
width: 100%;
}
}